CONTRACT_ADDRESS=0x...
PRIVATE_KEY=0x...
OWNER_ADDRESS=0x...
RPC_URL=https://...

APPWRITE_ENDPOINT=https://...
APPWRITE_PROJECT_ID=...
APPWRITE_API_KEY=...
APPWRITE_DATABASE_ID=...
APPWRITE_USERS_COLLECTION_ID=users
APPWRITE_ADMINS_COLLECTION_ID=admins

BREVO_API_KEY=...
BREVO_SENDER_EMAIL=...@example.com
BREVO_SENDER_NAME=Proofpass

PORT=5000
JWT_SECRET=...
JWT_EXPIRES=7d
OTP_SECRET=...
OTP_WINDOW_MS=600000
